{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "ie": 11
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
